<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nandaka.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nandaka.Common.Properties.Settings>
            <setting name="Timeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
              <value>localhost</value>&gt;
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="UseProxyLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36</value>
            </setting>
            <setting name="PadUserAgent" serializeAs="String">
                <value>False</value>
            </setting>
        </Nandaka.Common.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
